<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
    <head>
        <title>Главная страница</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <style type="text/css">
        	
        </style>
    </head>

    <body>
{% load pagination_tags %}
{% autopaginate post 10 %}
{% for p in post %}

<br>Пользователь <a href="{% url testblog.views.profile %}">{{ p.user_id }}</a>
<p>{{ p.date_post }} написал: 
</p>
 <a href="{% url testblog.views.view_post p.id %}">{{p.postname}}</a><p></p>
<p>{{ p.post }}
</p>
</br>
{% endfor %}
{% paginate %}
    </body>
</html>
